@import "variables";
* {
  margin: 0;
  padding: 0;
}
body {
  background: $background-color;
  width: 100vw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
header {
  padding-top: 1.25em;
  width: 90%;
  height: max-content;
  display: grid;
  align-items: center;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  a {
    justify-self: end;
    height: 100%;
    grid-column: 3;
  }
  img {
    height: 100%;
  }
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(100% - 1.25rem);
  width: 100%;
}
h1 {
  font-size: clamp(1.125rem, 0.2619rem + 4.0146vw, 3.875rem);
  font-family: "Kantumruy_bold";
  text-align: center;
  text-wrap: nowrap;
  grid-column: 2;
}
.options_container {
  label {
    cursor: pointer;
    width: 80%;
    max-width: 15rem;
    gap: 1.25rem;
    min-width: max-content;
    padding: 0 0.625em;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.563rem;
    input[type="checkbox"] {
      opacity: 0;
      width: 0;
      height: 0;
      position: absolute;
    }
    span {
      font-family: "Kantumruy_bold";
      font-size: clamp(0.875rem, 0.7386rem + 0.6345vw, 1.5rem);
      position: relative;
      display: inline-block;
      overflow: hidden;
    }
  }
}

.btn_container {
  width: 40%;
  min-width: max-content;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.25rem;
  button {
    cursor: pointer;
    border: none;
    border-radius: 1.25rem;
    padding: 1em 1.25em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.25rem;
    font-family: "Kantumruy_bold";
    font-size: 1.125em;
  }
  .main_btn {
    padding: 1.5em 1.25em;
  }
}

@media (max-width: 1024px) {
  .btn_container {
    gap: 0.313rem;
    button {
      padding: 1.125em;
      gap: 0.313rem;
      svg {
        display: none;
      }
    }
    .main_btn {
      padding: 1.438em;
    }
  }
}
